<!DOCTYPE html>

<html>

<head>
  <title>About Us</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
      {{>header}}
      <p>This website was created by Sandeep. It uses the information from Mapbox & Darksky.</p>
      <img src="/images/robot.png" alt="Image" height="250px" width="250px">
    </div>

    {{>footer}}
</body>

</html>
